<div>
    <h2>Lista de Productos</h2>
    <ul id="productsList">
        
    </ul>
</div>

<div>
    <h3>Agregar Producto</h3>
    <form id="addProductForm">
        <input type="text" id="productName" placeholder="Nombre del producto" required />
        <button type="submit">Agregar</button>
    </form>
</div>
<script src="/socket.io/socket.io.js"></script> {{!-- Script para server io --}}
<script src="/js/main.js"></script>